body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 350px;
}
.slider-button{
    font-size: 30px;
    color: #008000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: background-color .2s ease-in;
}
.slider-button:hover {
    background-color: rgba(0, 128, 0, .3);
    color: #ffffff;
}
.container{
    display: flex;
    justify-content: space-between;
}
.view-window{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clip-circle{
    clip-path: circle(89px at center);
}
.box{
    height: 100%;
    position: absolute;
    transition: transform .6s ease-out;
    margin-left: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-scaled{
    transform: scale(.4);
}
.centered-scaled{
    transform: scale(.6);
    transition: transform .5s ease-out .2s;
}
/*.right-0{*/
/*transform: translateX(0);*/
/*opacity: 0;*/
/*}*/
/*.right-1{*/
/*transform: translateX(203px);*/
/*}*/
/*.right-2{*/
/*transform: translateX(406px);*/
/*}*/
/*.right-3{*/
/*transform: translateX(609px);*/
/*}*/
/*.right-4{*/
/*transform: translateX(812px);*/
/*}*/
/*.right-5{*/
/*transform: translateX(1015px);*/
/*}*/
/*.right-6{*/
/*transform: translateX(1218px);*/
/*opacity: 0;*/
/*}*/
/*.right-button, .left-button{*/
/*width: 100px;*/
/*height: 30px;*/
/*background-color: transparent;*/
/*border: 2px solid #008000;*/
/*border-radius: 10px;*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*cursor: pointer;*/
/*}*/
/*.slide-buttons{*/
/*width: 250px;*/
/*font-size: 20px;*/
/*font-family: sans-serif;*/
/*text-transform: uppercase;*/
/*color: #008000;*/
/*display: flex;*/
/*justify-content: space-between;*/
/*user-select: none;*/
/*}*/